<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/css/homepage.css">
</head>

<body>
      <canvas id="chart1" ></canvas>
      
    <script>
        var chx = document.getElementById("chart1");
        var chart = new Chart(chx, {
            type: "bar",
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
        })
    </script>

    <button class="container" onclick="nextpage()">Air Quality Page</button>
</body>
<script>
    function nextpage(){
        window.location.href = "/airquality";
    }
</script>
</html>