<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/css/airquality.css">
</head>

<body>
    <div class="container">
        <div class="form-title">Air Quality Parameters</div>
        <label for="para1">AIR's Quality Parameter 1</label>
        <input type="number" id="para1" autocomplete="off"/>
        <label for="para2">AIR's Quality Parameter 2</label>
        <input type="number" id="para2" autocomplete="off"/>
        <label for="para3">AIR's Quality Parameter 3</label>
        <input type="number" id="para3" autocomplete="off"/>
        <button type="submit">SUBMIT</button>
    </div>
</body>

</html>